<div class="br-flex-vertical-children br-flex-stretch-children-width">
  <legend ng-if="$ctrl.showHeader && $ctrl.displayOrder.length > 0">
    {{$ctrl.agreementHeader}}
  </legend>
  <md-input-container ng-if="$ctrl.displayOrder.length > 0"
    ng-style="$ctrl.showHeader && {'margin-left': '20px'}">
    <div ng-repeat="agreement in $ctrl.displayOrder">
      <md-checkbox class="md-primary"
        ng-model="$ctrl.agreements[agreement].agreed"
        ng-change="$ctrl.onAgree()">
        I agree to the
        <a ng-click="$event.stopPropagation(); $ctrl.selectedAgreement = $ctrl.agreements[agreement]; $ctrl.showSelectedAgreement=true">
          {{$ctrl.agreements[agreement].title}}
        </a>
      </md-checkbox>
    </div>
  </md-input-container>
</div>

<stackable-modal stackable="$ctrl.showSelectedAgreement">
  <br-modal br-title="{{$ctrl.selectedAgreement.title}}">
    <br-modal-body>
      <div ng-include="$ctrl.selectedAgreement.templateUrl"></div>
    </br-modal-body>
    <br-modal-footer>
      <md-button class="stackable-cancel">Close</md-button>
    </br-modal-footer>
  </br-modal>
</stackable-modal>
